### Natural Text to SQL Query

In [1]:
db_user = "root"
db_password = "9359635906"
db_host = "localhost"
db_name = "classicmodels"

In [2]:
# connection to db
from langchain_community.utilities.sql_database import SQLDatabase

db = SQLDatabase.from_uri(f"mysql+pymysql://{db_user}:{db_password}@{db_host}/{db_name}") # by using sqlalchemy

In [3]:
print(db.dialect)
print(db.get_usable_table_names)
print(db.table_info)

mysql
<bound method SQLDatabase.get_usable_table_names of <langchain_community.utilities.sql_database.SQLDatabase object at 0x00000190F94EFF50>>

CREATE TABLE customers (
	`customerNumber` INTEGER NOT NULL,
	`customerName` VARCHAR(50) NOT NULL,
	`contactLastName` VARCHAR(50) NOT NULL,
	`contactFirstName` VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	city VARCHAR(50) NOT NULL,
	state VARCHAR(50),
	`postalCode` VARCHAR(15),
	country VARCHAR(50) NOT NULL,
	`salesRepEmployeeNumber` INTEGER,
	`creditLimit` DECIMAL(10, 2),
	PRIMARY KEY (`customerNumber`),
	CONSTRAINT customers_ibfk_1 FOREIGN KEY(`salesRepEmployeeNumber`) REFERENCES employees (`employeeNumber`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from customers table:
customerNumber	customerName	contactLastName	contactFirstName	phone	addressLine1	addressLine2	city	state	postalCode	country	salesRepEmployeeNumber	creditLimit
103	Atelier graphique	Schmitt	Carine 	40.32.2555	54, rue Royale	None	Nantes	None	44000	France	1370	21000.00
112	Signal Gift Stores	King	Jean	7025551838	8489 Strong St.	None	Las Vegas	NV	83030	USA	1166	71800.00
114	Australian Collectors, Co.	Ferguson	Peter	03 9520 4555	636 St Kilda Road	Level 3	Melbourne	Victoria	3004	Australia	1611	117300.00
*/


CREATE TABLE employees (
	`employeeNumber` INTEGER NOT NULL,
	`lastName` VARCHAR(50) NOT NULL,
	`firstName` VARCHAR(50) NOT NULL,
	extension VARCHAR(10) NOT NULL,
	email VARCHAR(100) NOT NULL,
	`officeCode` VARCHAR(10) NOT NULL,
	`reportsTo` INTEGER,
	`jobTitle` VARCHAR(50) NOT NULL,
	PRIMARY KEY (`employeeNumber`),
	CONSTRAINT employees_ibfk_1 FOREIGN KEY(`reportsTo`) REFERENCES employees (`employeeNumber`),
	CONSTRAINT employees_ibfk_2 FOREIGN KEY(`officeCode`) REFERENCES offices (`officeCode`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from employees table:
employeeNumber	lastName	firstName	extension	email	officeCode	reportsTo	jobTitle
1002	Murphy	Diane	x5800	dmurphy@classicmodelcars.com	1	None	President
1056	Patterson	Mary	x4611	mpatterso@classicmodelcars.com	1	1002	VP Sales
1076	Firrelli	Jeff	x9273	jfirrelli@classicmodelcars.com	1	1002	VP Marketing
*/


CREATE TABLE offices (
	`officeCode` VARCHAR(10) NOT NULL,
	city VARCHAR(50) NOT NULL,
	phone VARCHAR(50) NOT NULL,
	`addressLine1` VARCHAR(50) NOT NULL,
	`addressLine2` VARCHAR(50),
	state VARCHAR(50),
	country VARCHAR(50) NOT NULL,
	`postalCode` VARCHAR(15) NOT NULL,
	territory VARCHAR(10) NOT NULL,
	PRIMARY KEY (`officeCode`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from offices table:
officeCode	city	phone	addressLine1	addressLine2	state	country	postalCode	territory
1	San Francisco	+1 650 219 4782	100 Market Street	Suite 300	CA	USA	94080	NA
2	Boston	+1 215 837 0825	1550 Court Place	Suite 102	MA	USA	02107	NA
3	NYC	+1 212 555 3000	523 East 53rd Street	apt. 5A	NY	USA	10022	NA
*/


CREATE TABLE orderdetails (
	`orderNumber` INTEGER NOT NULL,
	`productCode` VARCHAR(15) NOT NULL,
	`quantityOrdered` INTEGER NOT NULL,
	`priceEach` DECIMAL(10, 2) NOT NULL,
	`orderLineNumber` SMALLINT NOT NULL,
	PRIMARY KEY (`orderNumber`, `productCode`),
	CONSTRAINT orderdetails_ibfk_1 FOREIGN KEY(`orderNumber`) REFERENCES orders (`orderNumber`),
	CONSTRAINT orderdetails_ibfk_2 FOREIGN KEY(`productCode`) REFERENCES products (`productCode`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from orderdetails table:
orderNumber	productCode	quantityOrdered	priceEach	orderLineNumber
10100	S18_1749	30	136.00	3
10100	S18_2248	50	55.09	2
10100	S18_4409	22	75.46	4
*/


CREATE TABLE orders (
	`orderNumber` INTEGER NOT NULL,
	`orderDate` DATE NOT NULL,
	`requiredDate` DATE NOT NULL,
	`shippedDate` DATE,
	status VARCHAR(15) NOT NULL,
	comments TEXT,
	`customerNumber` INTEGER NOT NULL,
	PRIMARY KEY (`orderNumber`),
	CONSTRAINT orders_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from orders table:
orderNumber	orderDate	requiredDate	shippedDate	status	comments	customerNumber
10100	2003-01-06	2003-01-13	2003-01-10	Shipped	None	363
10101	2003-01-09	2003-01-18	2003-01-11	Shipped	Check on availability.	128
10102	2003-01-10	2003-01-18	2003-01-14	Shipped	None	181
*/


CREATE TABLE payments (
	`customerNumber` INTEGER NOT NULL,
	`checkNumber` VARCHAR(50) NOT NULL,
	`paymentDate` DATE NOT NULL,
	amount DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`customerNumber`, `checkNumber`),
	CONSTRAINT payments_ibfk_1 FOREIGN KEY(`customerNumber`) REFERENCES customers (`customerNumber`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from payments table:
customerNumber	checkNumber	paymentDate	amount
103	HQ336336	2004-10-19	6066.78
103	JM555205	2003-06-05	14571.44
103	OM314933	2004-12-18	1676.14
*/


CREATE TABLE productlines (
	`productLine` VARCHAR(50) NOT NULL,
	`textDescription` VARCHAR(4000),
	`htmlDescription` MEDIUMTEXT,
	image MEDIUMBLOB,
	PRIMARY KEY (`productLine`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from productlines table:
productLine	textDescription	htmlDescription	image
Classic Cars	Attention car enthusiasts: Make your wildest car ownership dreams come true. Whether you are looking	None	None
Motorcycles	Our motorcycles are state of the art replicas of classic as well as contemporary motorcycle legends 	None	None
Planes	Unique, diecast airplane and helicopter replicas suitable for collections, as well as home, office o	None	None
*/


CREATE TABLE products (
	`productCode` VARCHAR(15) NOT NULL,
	`productName` VARCHAR(70) NOT NULL,
	`productLine` VARCHAR(50) NOT NULL,
	`productScale` VARCHAR(10) NOT NULL,
	`productVendor` VARCHAR(50) NOT NULL,
	`productDescription` TEXT NOT NULL,
	`quantityInStock` SMALLINT NOT NULL,
	`buyPrice` DECIMAL(10, 2) NOT NULL,
	`MSRP` DECIMAL(10, 2) NOT NULL,
	PRIMARY KEY (`productCode`),
	CONSTRAINT products_ibfk_1 FOREIGN KEY(`productLine`) REFERENCES productlines (`productLine`)
)DEFAULT CHARSET=utf8mb4 COLLATE utf8mb4_0900_ai_ci ENGINE=InnoDB

/*
3 rows from products table:
productCode	productName	productLine	productScale	productVendor	productDescription	quantityInStock	buyPrice	MSRP
S10_1678	1969 Harley Davidson Ultimate Chopper	Motorcycles	1:10	Min Lin Diecast	This replica features working kickstand, front suspension, gear-shift lever, footbrake lever, drive 	7933	48.81	95.70
S10_1949	1952 Alpine Renault 1300	Classic Cars	1:10	Classic Metal Creations	Turnable front wheels; steering function; detailed interior; detailed engine; opening hood; opening 	7305	98.58	214.30
S10_2016	1996 Moto Guzzi 1100i	Motorcycles	1:10	Highway 66 Mini Classics	Official Moto Guzzi logos and insignias, saddle bags located on side of motorcycle, detailed engine,	6625	68.99	118.94
*/

In [4]:
# langsmith + langchain integration credentials
import os

os.environ['COHERE_API_KEY'] = "MiOl2nhufDN8fYW7yFsKHnwxP8K5TsMhza3IJaTF"
os.environ['LANGCHAIN_TRACING_V2'] = 'true'
os.environ['LANGCHAIN_API_KEY'] = "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"
os.environ['LANGCHAIN_ENDPOINT']='https://api.smith.langchain.com'
os.environ['LANGCHAIN_PROJECT']='Text to SQL Query'

In [5]:
from langchain.chains import create_sql_query_chain
from langchain_cohere import ChatCohere

llm = ChatCohere(model='command-r', temperature=0)
generate_query = create_sql_query_chain(llm, db)

query = "What is the price of '1968 ford mustang'. Provide SQL query as a output nothing else"
config = {
    'run_name': 'query_generation'
}
res = generate_query.invoke({'question': query}, config=config)
print(res)

Question: What is the price of '1968 ford mustang'?

SQLQuery:
```sql
SELECT `MSRP` FROM products WHERE `productName` LIKE '%1968 ford mustang%';
```S

Failed to send compressed multipart ingest: Connection error caused failure to POST https://api.smith.langchain.com/runs/multipart in LangSmith API. Please confirm your internet connection. ConnectionError(MaxRetryError('HTTPSConnectionPool(host=\'api.smith.langchain.com\', port=443): Max retries exceeded with url: /runs/multipart (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x00000190A7CCC490>: Failed to resolve \'api.smith.langchain.com\' ([Errno 11001] getaddrinfo failed)"))'))
Content-Length: 3051
API Key: lsv2_********************************************62trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=63bd8df7-7534-4031-832d-be1d5a6c3e9e; trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=374efde8-9dd5-4aa2-9e9e-07536e0b5942; trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=ed8dabc7-e208-49cd-88d2-e0fd3ab673e6; trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=2785646d-b54f-4dfe-879c-bb35f8c613d1; trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=0dca81b6-a6e3-4c3b-896d-ae04d642768c; trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=9245b10c-7c8e-4a42-8b68-417a84238b08; trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=9245b10c-7c8e-4a42-8b68-417a84238b08; trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=0dca81b6-a6e3-4c3b-896d-ae04d642768c; trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=4ac58cee-f385-4861-a3f1-0f0e3faeb849; trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=4ac58cee-f385-4861-a3f1-0f0e3faeb849; trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=1c74cd75-b456-423d-aeda-e2394d7f895a
Failed to send compressed multipart ingest: Connection error caused failure to POST https://api.smith.langchain.com/runs/multipart in LangSmith API. Please confirm your internet connection. ConnectionError(MaxRetryError('HTTPSConnectionPool(host=\'api.smith.langchain.com\', port=443): Max retries exceeded with url: /runs/multipart (Caused by NameResolutionError("<urllib3.connection.HTTPSConnection object at 0x00000190A7D29C90>: Failed to resolve \'api.smith.langchain.com\' ([Errno 11001] getaddrinfo failed)"))'))
Content-Length: 3902
API Key: lsv2_********************************************62trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=1c74cd75-b456-423d-aeda-e2394d7f895a; trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=2785646d-b54f-4dfe-879c-bb35f8c613d1; trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=ed8dabc7-e208-49cd-88d2-e0fd3ab673e6; trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=374efde8-9dd5-4aa2-9e9e-07536e0b5942; trace=63bd8df7-7534-4031-832d-be1d5a6c3e9e,id=63bd8df7-7534-4031-832d-be1d5a6c3e9e

now that we able to convert text to sql query then we can now move towards executing it and retrieving the output from the developed query

In [6]:
# since my response format contains text other than sql query I need to filter out the sql query for further execution
import re

def extract_sql_from_response(response: str) -> str:
    """
    Extracts SQL query from a response string containing a code block.
    """
    match = re.search(r"```sql\s*(.*?)\s*```", response, re.DOTALL)
    if match:
        return match.group(1).strip()
    return None

# Usage after generating the query
sql_query = extract_sql_from_response(res)
print(sql_query)

SELECT `MSRP` FROM products WHERE `productName` LIKE '%1968 ford mustang%';

*for some LLMs there was no need to create this below runnable but while working cohere it needed that's why I added another layer of output parser so that it won't create issue later*

In [7]:
from langchain_community.tools.sql_database.tool import QuerySQLDataBaseTool

execute_query = QuerySQLDataBaseTool(db=db)
config = {
    'run_name': 'query_execution'
}
# extract the sql query and execute
if sql_query:
    result = execute_query.invoke(sql_query, config=config)
    print(result)
else:
    print("No SQL query found in response.")

[(Decimal('194.57'),)]

C:\Users\hp\AppData\Local\Temp\ipykernel_8568\213937425.py:3: LangChainDeprecationWarning: The class `QuerySQLDataBaseTool` was deprecated in LangChain 0.3.12 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-community package and should be used instead. To use it run `pip install -U :class:`~langchain-community` and import as `from :class:`~langchain_community.tools import QuerySQLDatabaseTool``.
  execute_query = QuerySQLDataBaseTool(db=db)

In [8]:
# need to convert the query extraction  function as a runnable
from langchain_core.runnables import RunnableLambda

extract_sql_runnable = RunnableLambda(extract_sql_from_response)

We have both the chains working properly so let's merge them into one chain

In [9]:
chain = generate_query | extract_sql_runnable | execute_query
chain.invoke({'question': 'how many orders aer there'})

'[(326,)]'

In [10]:
# extracting prompt template from the chain
chain.get_prompts()[0].pretty_print()

You are a MySQL expert. Given an input question, first create a syntactically correct MySQL query to run, then look at the results of the query and return the answer to the input question.
Unless the user specifies in the question a specific number of examples to obtain, query for at most 5 results using the LIMIT clause as per MySQL. You can order the results to return the most informative data in the database.
Never query for all columns from a table. You must query only the columns that are needed to answer the question. Wrap each column name in backticks (`) to denote them as delimited identifiers.
Pay attention to use only the column names you can see in the tables below. Be careful to not query for columns that do not exist. Also, pay attention to which column is in which table.
Pay attention to use CURDATE() function to get the current date, if the question involves "today".

Use the following format:

Question: Question here
SQLQuery: SQL Query to run
SQLResult: Result of the SQLQuery
Answer: Final answer here

Only use the following tables:
{table_info}

Question: {input}

We are going to develop a simple workflow where we'll take natural query as a input showcase the ouput in structured format.

**Flow:** *question -> sql query generation -> sql query result -> final answer*

In [11]:
from operator import itemgetter
from langchain_core.output_parsers import StrOutputParser
from langchain_core.prompts import PromptTemplate
from langchain_core.runnables import RunnablePassthrough

answer_prompt = PromptTemplate.from_template(
    """Given the following user question, corresponding SQL query, and SQL result, answer the user question.

 Question: {question}
 SQL Query: {query}
 SQL Result: {result}
 Answer: """
)

In [12]:
# this chain will fail because 'rephrased_answer' needs many other inputs which are not there in output of execute query that's why we are using runnablepassthrough.assign() to ensure all the requirements are fulfilled properly
chain = generate_query | extract_sql_runnable | execute_query | rephrased_answer
chain.invoke({'question': "how many orders are there in total"})

NameError: name 'rephrased_answer' is not defined

In [13]:
rephrased_answer = answer_prompt | llm  | StrOutputParser() # output parser will help to get the sql query and return for further process

chain = (
    RunnablePassthrough.assign(query=generate_query).assign( # from generate query we get: user question, sql query
        result = itemgetter('query') | extract_sql_runnable | execute_query # from here we get sql result
    )
    | rephrased_answer # and all the response from runnable passthrough will be sent here to generate final response
)

chain.invoke({'question': "who is the highest paying customer tell it's name and what is the amount"})

"It looks like the SQL query needs to be adjusted to comply with the database's sql_mode=only_full_group_by setting. To fix the error, we should add a GROUP BY clause to the query.\n\nHere's the modified SQL query:\n```sql\nSELECT customers.customerName, SUM(payments.amount) AS highest_amount\nFROM payments\nJOIN customers USING (customerNumber)\nGROUP BY customers.customerName\nORDER BY highest_amount DESC\nLIMIT 1;\n```\n\nThe highest-paying customer is 'John Doe' who has paid a total of '$64000'."

**Adding few-shot examples for better understanding**

LLM may fail if it tackles tough queries

In [14]:
examples = [
    {
        "input": "List all customers in France with a credit limit over 20,000.",
        "query": "SELECT * FROM customers WHERE country = 'France' AND creditLimit > 20000;"
    },
    {
        "input": "Get the highest payment amount made by any customer.",
        "query": "SELECT MAX(amount) FROM payments;"
    },
    {
        'input': "Show product details for products in the 'motorcycles' product line. ",
        'query': "SELECT * FROM products WHERE productLine = 'Motorcycles';"
    },
    {
        'input': 'Retrieve the names of employees who report to employee number 1002.',
        'query': "SELECT firstName, lastName FROM employees WHERE reportsTo = 1002"
    }, 
    {
        'input': 'List all products with a stock quantity less than 7000',
        'query': "SELECT productName, quantityInStock FROM products WHERE quantityInStock < 700;"
    }
]

In [15]:
# generating few shot prompt template
from langchain_core.prompts import ChatPromptTemplate, MessagesPlaceholder, FewShotChatMessagePromptTemplate

example_prompt = ChatPromptTemplate.from_messages(
    [
        ("human", "{input}\nSQLQuery:"),
        ("ai", "{query}"),
    ]
)

few_shot_prompt = FewShotChatMessagePromptTemplate(
    example_prompt=example_prompt,
    examples=examples,
    input_variables=['input']
)

print(few_shot_prompt.format(input='how many products are there ?'))

Human: List all customers in France with a credit limit over 20,000.
SQLQuery:
AI: SELECT * FROM customers WHERE country = 'France' AND creditLimit > 20000;
Human: Get the highest payment amount made by any customer.
SQLQuery:
AI: SELECT MAX(amount) FROM payments;
Human: Show product details for products in the 'motorcycles' product line.
SQLQuery:
AI: SELECT * FROM products WHERE productLine = 'Motorcycles';
Human: Retrieve the names of employees who report to employee number 1002.
SQLQuery:
AI: SELECT firstName, lastName FROM employees WHERE reportsTo = 1002
Human: List all products with a stock quantity less than 7000
SQLQuery:
AI: SELECT productName, quantityInStock FROM products WHERE quantityInStock < 700;

right now it's selecting all the examples we want it to select only relevant example from examples dictoinary to help llm generate sql query.

**Dynamic Few Shot Selection**

this will help to select relevant k example which are related to asked user query

In [16]:
from langchain_community.vectorstores import Chroma
from langchain_core.example_selectors import SemanticSimilarityExampleSelector
from langchain_cohere import CohereEmbeddings

vectorstore = Chroma()
vectorstore.delete_collection()
example_selector = SemanticSimilarityExampleSelector.from_examples(
    examples,
    CohereEmbeddings(model='embed-english-v3.0'),
    vectorstore,
    k=2,
    input_keys=['input'],
)

example_selector.select_examples({'input': 'who is the highest paying customer'})

C:\Users\hp\AppData\Local\Temp\ipykernel_8568\2218894559.py:5: LangChainDeprecationWarning: The class `Chroma` was deprecated in LangChain 0.2.9 and will be removed in 1.0. An updated version of the class exists in the :class:`~langchain-chroma package and should be used instead. To use it run `pip install -U :class:`~langchain-chroma` and import as `from :class:`~langchain_chroma import Chroma``.
  vectorstore = Chroma()

[{'input': 'Get the highest payment amount made by any customer.',
  'query': 'SELECT MAX(amount) FROM payments;'},
 {'query': "SELECT * FROM customers WHERE country = 'France' AND creditLimit > 20000;",
  'input': 'List all customers in France with a credit limit over 20,000.'}]

In [17]:
# modifying few shot prompting by selecting top-k related examples as input
few_shot_prompt = FewShotChatMessagePromptTemplate(
    example_prompt=example_prompt,
    example_selector=example_selector,
    input_variables=['input', 'top_k'],
)

print(few_shot_prompt.format(input="what is the count of total products"))

Human: List all products with a stock quantity less than 7000
SQLQuery:
AI: SELECT productName, quantityInStock FROM products WHERE quantityInStock < 700;
Human: Show product details for products in the 'motorcycles' product line.
SQLQuery:
AI: SELECT * FROM products WHERE productLine = 'Motorcycles';

In [18]:
# building new prompt template containing few examples for references
final_prompt = ChatPromptTemplate.from_messages(
    [
        ("system", "You are a MySQL expert. Given an input question, create a syntactically correct MySQL query to run. Unless otherwise specificed.\n\nHere is the relevant table info: {table_info}\n\nBelow are a number of examples of questions and their corresponding SQL queries."),
        few_shot_prompt,
        ("human", "{input}"),
    ]
)
print(final_prompt.format(input="How many products are there?",table_info="some table info"))

System: You are a MySQL expert. Given an input question, create a syntactically correct MySQL query to run. Unless otherwise specificed.

Here is the relevant table info: some table info

Below are a number of examples of questions and their corresponding SQL queries.
Human: Show product details for products in the 'motorcycles' product line.
SQLQuery:
AI: SELECT * FROM products WHERE productLine = 'Motorcycles';
Human: List all products with a stock quantity less than 7000
SQLQuery:
AI: SELECT productName, quantityInStock FROM products WHERE quantityInStock < 700;
Human: How many products are there?

In [19]:
# testing if it works or not
generate_query = create_sql_query_chain(llm, db,final_prompt) # upaded the sql query chain with new prompt template
# rest is same as before
chain = (
    RunnablePassthrough.assign(query=generate_query).assign(
        result=itemgetter("query") | execute_query
    ) 
    | rephrased_answer
)
chain.invoke({"question": "How many csutomers with credit limit more than 50000"})

'There are 85 customers with a credit limit of more than 50000.'

There is one more issue which persist is now we are providing details of all the tables which we have got in out databases, but fow now we're dealing with very few schema for large it will be quite complicated for LLM to understand importance of each schema. 

We are going to dynamically select relevant schemas which will be needed by LLM to generate SQL query to make our prompt concise and accurate for usage.

For dynamic selection I'm going to create file containing small description about each schema based on that description LLM will be able to select relevant schema information only.

In [20]:
# extracting table descriptions from csv file
import pandas as pd

def get_schema_details():
    table_description = pd.read_csv('mysql_schema_description.csv')
    table_docs = []
    
    table_details = ""
    for index, row in table_description.iterrows():
        table_details = table_details + "Table Name: " + row['Table_Name'] + '\n' + 'Table Description: ' + row['Description'] + "\n\n"
    
    return table_details

table_details = get_schema_details()
print(table_details)

Table Name: productlines
Table Description: Stores information about the different product lines offered by the company, including a unique name, textual description, HTML description, and image. Categorizes products into different lines

Table Name: products
Table Description: Contains details of each product sold by the company, including code, name, product line, scale, vendor, description, stock quantity, buy price, and MSRP Linked to the productlines table.

Table Name: offices
Table Description: Holds data on the company's sales offices, including office code, city, phone number, address, state, country, postal code, and territory. Each office is uniquely identified by its office code.

Table Name: employees
Table Description: Stores information about employees, including number, last name, first name, job title, contact info, and office code. Links to offices and maps organizational structure through the reports To attribute

Table Name: customers
Table Description: Captures data on customers, including customer number, name, contact details, address, assigned sales rep, and credit limit. Central to managing customer relationships and sales processes

Table Name: payments
Table Description: Records payments made by customers, tracking the customer number, check number, payment date, and amount. Linked to the customers table for financial tracking and account management

Table Name: orders
Table Description: Details each sales order placed by customers, including order number, dates, status, comments, and customer number Linked to the customers table, tracking sales transactions.

Table Name: orderdetails
Table Description: Describes individual line items for each sales order, including order number, product code, quantity, price, and order line number. Links orders to products, detailing the items sold.

In [35]:
from pydantic import BaseModel, Field
from typing import List

class Table(BaseModel):
    """Table in SQL DATABASE"""
    table_name: List[str] = Field(description='Name of the table in SQL Database')

In [36]:
# prompt decribing table details
table_details_prompt = f"""
    Return the names of ALL the SQL tables that MIGHT be relevant to the user Question. \n
    The Tables are:
    {table_details}
    
    REMEMBER: Include ALL POTENTIALLY RELEVANT tables, even if you are not sure that they're needed.
"""

table_chain = llm.with_structured_output(Table)
user_query = "give me details of customer and their order count"
prompt_with_table_details_and_query = f"{table_details_prompt}\n\nUser query: {user_query}"

tables = table_chain.invoke(prompt_with_table_details_and_query)
tables

Table(table_name=['customers', 'orders', 'orderdetails'])

In [67]:
def get_tables(tables) -> List[str]:
    tables = [table for table in tables.table_name]
    return tables

In [68]:
get_tables(tables)

['customers', 'orders', 'orderdetails']

In [77]:
# this chain will be used for table name selection
select_table = (
    {"question": itemgetter("question")}
    | RunnableLambda(lambda x: f"{table_details_prompt}\n\nUser query: {x['question']}")
    | table_chain
    | RunnableLambda(get_tables)
)

tables = select_table.invoke({"question": "give me details of customer and their order count"})
print(tables)

['customers', 'orders', 'orderdetails']

In [78]:
final_chain_with_dynamic_tables = (
    RunnablePassthrough.assign(table_names_to_use=select_table) 
    | RunnablePassthrough.assign(query=generate_query).assign(
        result=itemgetter('query') | execute_query
    )
    | rephrased_answer
)

In [79]:
final_chain_with_dynamic_tables.invoke({"question": 'total numbers or customers we have'})

'We have 122 customers.'

Now that it's working properly, there is a problem that it can't answer followup questions. We need to add memory to it so that it answers followup questions.

In [80]:
final_prompt = ChatPromptTemplate.from_messages(
    [
        ("system", "You are a MySQL expert. Given an input question, create a syntactically correct MySQL query to run. Unless otherwise specificed.\n\nHere is the relevant table info: {table_info}\n\nBelow are a number of examples of questions and their corresponding SQL queries. Those examples are just for referecne and hsould be considered while answering follow up questions"),
        few_shot_prompt,
        MessagesPlaceholder(variable_name="messages"),
        ("human", "{input}"),
    ]
)
print(final_prompt.format(input="How many products are there?",table_info="some table info",messages=[]))

System: You are a MySQL expert. Given an input question, create a syntactically correct MySQL query to run. Unless otherwise specificed.

Here is the relevant table info: some table info

Below are a number of examples of questions and their corresponding SQL queries. Those examples are just for referecne and hsould be considered while answering follow up questions
Human: Show product details for products in the 'motorcycles' product line.
SQLQuery:
AI: SELECT * FROM products WHERE productLine = 'Motorcycles';
Human: List all products with a stock quantity less than 7000
SQLQuery:
AI: SELECT productName, quantityInStock FROM products WHERE quantityInStock < 700;
Human: How many products are there?

**Adding memory feature to it**

In [108]:
from langchain_core.output_parsers import StrOutputParser
import re

# 1. SQL-only parser
class SQLParser(StrOutputParser):
    def parse(self, text: str) -> str:
        # Extract first SQL block or clean out prefix text
        match = re.search(r"(SELECT .*?;)", text, re.DOTALL | re.IGNORECASE)
        if match:
            return match.group(1).strip()
        return text.strip()  # fallback

sql_only_parser = SQLParser()

# 2. Wrap your generate_query chain
generate_query_clean = generate_query | sql_only_parser

In [109]:
from langchain.memory import ChatMessageHistory

history = ChatMessageHistory()

generate_query = create_sql_query_chain(llm, db, final_prompt)

chain = (
    RunnablePassthrough.assign(table_names_to_use=select_table) 
    | RunnablePassthrough.assign(query=generate_query_clean).assign(
        result=itemgetter('query') | execute_query
    )
    | rephrased_answer
)

In [110]:
question = "how many customers with order count more than 5"

response = chain.invoke({'question': question, 'messages':history.messages}) # now we're providing previous conversation history to answer follow up questions
response

'There are 2 customers who have placed more than 5 orders.'

In [111]:
history.add_user_message(question)
history.add_ai_message(response)

In [112]:
history

InMemoryChatMessageHistory(messages=[HumanMessage(content='how many customers with order count more than 5', additional_kwargs={}, response_metadata={}), AIMessage(content='There are 2 customers who have placed more than 5 orders.', additional_kwargs={}, response_metadata={})])

In [113]:
follow_up = chain.invoke({'question': 'can you list their names ?', 'messages': history.messages})
follow_up

"Sure! Here's the answer:\n\nThe names are 'Mini Gifts Distributors Ltd.' and 'Euro+ Shopping Channel'."

One Issue persist here is that while asking follow up question, it's giving all the possible schemas as relevant schemas because that prompt doesn't have access to history so we need to integrate the history there also so that while asking follow up questions it tells only relevant schema names.